# .env.example

# Para a conexão do Prisma
DATABASE_URL="postgresql://user:password@localhost:5434/mydatabase?schema=public"

# Para a inicialização do Docker Compose
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=mydatabase

JWT_SECRET=secret_password
JWT_EXPIRES_IN=8h
PORT=3050

# Frontend URLs (separadas por vírgula para múltiplas origens)
FRONTEND_URL=http://localhost:3000,http://localhost:3001

# Ambiente (development ou production)
NODE_ENV=development